 <div class="login-main">
    <div class="login-main-title">
      <h1 class="title-main">Авторизация</h1>
    </div>
  
    <div class="login-fields">
      <form [formGroup]="formGroup">
        <div class="row">
          <div class="input-email">
            <mat-form-field [style.width.px]="280" appearance="fill">
              <mat-label>Введите ваш email</mat-label>
              <input
                matInput
                placeholder="123@example.com"
                formControlName="email"
                required
              />
              <mat-error>Это поле обязательно</mat-error>
            </mat-form-field>
          </div>
  
          <div class="input-password">
            <mat-form-field [style.width.px]="280" appearance="fill">
              <mat-label>Введите ваш password</mat-label>
              <input
                matInput
                formControlName="password"
                [type]="hide ? 'password' : 'text'"
              />
              <mat-error>Это поле обязательно</mat-error>
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
  
          <div class="login-button-enter">
            <button
              class="login-btn"
              mat-raised-button
              color="warn"
              [disabled]="formGroup.invalid"
              type="button"
              (click)="signIn()"
            >
              ВОЙТИ
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>